

html{
	font-size: 14px;
	padding: 2rem;
	margin: 2rem;
}

h1{
	font-size: 4rem;
}

h2{
	font-size: 3rem;
}

h3{
	font-size: 2rem;
}

h4{
	font-size: 1rem;
}

.pageContainer{
	margin: 0 auto;
	width: 80%;
}

header{
	text-align: center;
}

.bill{
	
	/*box-shadow: 4px 4px 2px 2px #283F3B;*/
	padding: 1rem;
	margin: 2rem;
	border: 3px solid black;
	height: 20%;
}


.catt{
	text-align: center;
}